<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>
<body>
    <div class="blue">
        <a   class="a" href="/">Home</a>
        <a   class="a" href="/allcountries">All country</a>
        <a   class="a" href="/myRecords"> My records</a>

    </div>

    <%if(data){%>
<p> country name :<%=data.country%></p>
<p> date : <%=data.date%></p>
<form action="/recordDetails/<%=data.id%>" method="get">
<button type="submit"> View-Details'</button>
</form>
    <%} else{%>
<h1>NO AVAILABLE RECORDS</h1>
   <%}%>
    
</body>
</html>